/******************************************
/* BASE STYLES
/*******************************************/

* {
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/

body,
.row,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header {
  position: sticky;
  top: 0px;
}

footer {
  position: fixed;
  bottom: 0px
}

body {
  background-image: url("../assets/astrology.jpg");
  /* background-image: url("https://i.imgur.com/dyW49tc.gif"); */
  height: 100vh;
  width: 100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* HEADER */

h1 {
  font: 400 4.5rem 'Nunito Sans', sans-serif;
  margin-bottom: 1rem;
  color: white;
}

.inputForm,
button {
  font: 400 1.8rem 'Nunito Sans', sans-serif; 
}

/* CONTENT */

h2,
p {
  color: white;
}

h2 {
  font: italic 400 5rem 'Nunito Sans', sans-serif;
  margin-bottom: 2rem;
}

p {
  font: 400 2rem 'Nunito Sans', sans-serif;
}

/******************************************
/* HEADER
/*******************************************/

header {
  height: 20vh;
  min-width: 40vw;
  margin: 5%;
  padding: 2%;
  flex: 1 1;
  border-radius: 100px;
  backdrop-filter: blur(30px) invert(100%);
}

.inputForm {
  width: 200px;
}

/******************************************
/* MAIN
/*******************************************/

.main {
  text-align: left;
  margin: 0 20% 5% 20%;
  padding: 5%;
  border-radius: 100px;
  backdrop-filter: blur(30px) invert(100%);
  flex: 2 1 auto;
  visibility: hidden;
}